h2 {
	text-align: center;
}

p{
	text-align: center;
}

body{
	text-align: left;
	background-color: rgb(157, 207, 179);
}

.item-lista {
	
	list-style-type: none;
	display: inline-block;
}
button {
	padding-right: 70px;
	background-color: rgb(157, 207, 179);
	border: 0px;
	width: 15px;
	height: 25px;
}
a{
	text-decoration-style: none;
}
.header{

    background-color: rgb(62, 202, 167);
    height: 100%;
    font-family: 'Dosis', sans-serif;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Carter One', cursive;

}